<div class="modal-backdrop-custom" *ngIf="show" (click)="close()"></div>
<div class="modal-custom" *ngIf="show">
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Admin</h5>
        <button type="button" class="btn-close" (click)="close()" [disabled]="submitting"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="error" class="alert alert-danger py-2">{{ error }}</div>
        <form [formGroup]="form" class="row g-2">
          <div class="col-12">
            <label class="form-label">Username</label>
            <input class="form-control" formControlName="username" [disabled]="submitting">
          </div>
          <div class="col-12">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" formControlName="email" [disabled]="submitting">
          </div>
          <div class="col-12">
            <label class="form-label">Password</label>
            <input class="form-control" type="password" formControlName="password" [disabled]="submitting">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()" [disabled]="submitting">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="submitting">
          {{ submitting ? 'Saving...' : 'Create Admin' }}
        </button>
      </div>
    </div>
  </div>
</div>
