<section>
  <h2>Customers</h2>
  <p *ngIf="feedbackMessage" [style.color]="feedbackType === 'error' ? '#b00020' : '#0a7a2f'">{{ feedbackMessage }}</p>
  <form [formGroup]="customerForm" (ngSubmit)="createCustomer()">
    <input formControlName="firstName" placeholder="First name" />
    <input formControlName="lastName" placeholder="Last name" />
    <input formControlName="userId" type="number" placeholder="User ID" />
    <input formControlName="companyId" type="number" placeholder="Company ID (optional)" />
    <button type="submit">Create customer</button>
  </form>
  <ul>
    <li *ngFor="let customer of customers$ | async">
      {{ customer.id }} - {{ customer.firstName }} {{ customer.lastName }}
      <button type="button" (click)="deleteCustomer(customer.id)">Delete</button>
    </li>
  </ul>
</section>

<section>
  <h2>Employees</h2>
  <form [formGroup]="employeeForm" (ngSubmit)="createEmployee()">
    <input formControlName="firstName" placeholder="First name" />
    <input formControlName="lastName" placeholder="Last name" />
    <input formControlName="userId" type="number" placeholder="User ID" />
    <input formControlName="companyId" type="number" placeholder="Company ID" />
    <button type="submit">Create employee</button>
  </form>
  <ul>
    <li *ngFor="let employee of employees$ | async">
      {{ employee.id }} - {{ employee.firstName }} {{ employee.lastName }}
      <button type="button" (click)="deleteEmployee(employee.id)">Delete</button>
    </li>
  </ul>
</section>
