
        <div class="back-to-home">
            <!-- <a routerLink="/index" class="back-button btn btn-icon btn-primary"><i-feather name="arrow-left" class="icons"></i-feather></a> -->
        </div>
        
        <section class="bg-home d-flex align-items-center position-relative" style="background: url('assets/images/shape01.png') center;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card form-signin p-4 rounded shadow">
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <img src="assets/images/logo-icon.png" class="avatar avatar-small mb-4 d-block mx-auto" alt="">
                                <h5 class="mb-3 text-center">Please sign in</h5>

                                <div class="form-floating mb-2">
                                    <input type="username" class="form-control" id="floatingInput" placeholder="Username" formControlName="username">
                                    <label for="floatingInput">Username</label>
                                    <div *ngIf="form.get('username')?.touched && form.get('username')?.invalid" class="text-danger small mt-1">
                                        <div *ngIf="form.get('username')?.errors?.['required']">Username is required.</div>
                                    </div>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
                                    <label for="floatingPassword">Password</label>
                                    <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="text-danger small mt-1">
                                        <div *ngIf="form.get('password')?.errors?.['required']">Password is required.</div>
                                    </div>
                                </div>

                                <button class="btn btn-primary w-100" type="submit" [disabled]="form.invalid">Sign in</button>

                                <div class="col-12 text-center mt-3">
                                    <p class="mb-0 mt-3"><small class="text-dark me-2">Don't have an account ?</small> <a routerLink="/auth/register" class="text-dark fw-bold">Sign Up</a></p>
                                </div><!--end col-->

                                <p class="mb-0 text-muted mt-3 text-center">© {{year}} F115725.</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
